:root {
    /* #### BORDERS #### */
    --border-radius-sm: 4px;
    --border-radius-md: 10px;
    --border-radius-full: 50px;

    --border-thickness-light: 0.062em;
    --border-thickness: 0.125em;
    --border-thickness-bold: 0.25em;
    --border-thickness-bolder: 0.5em;

    --border-style-light: var(--border-thickness) var(--border-line-style, solid);

    --border-style: var(--border-thickness-bold) var(--border-line-style, solid);

    --border-divider-simple: var(--border-style-light)
        var(--border-divider-color, var(--color-neutral-gray-13));

    body {
        --border-brand-primary-sm: var(--border-style-light) var(--color-brand-primary);

        --border-brand-primary: var(--border-style) var(--color-brand-primary);

        --border-brand-secondary-sm: var(--border-style-light) var(--color-brand-secondary);

        --border-brand-secondary: var(--border-style) var(--color-brand-secondary);
    }
}
