@mixin font($font-family, $font-file) {
    @font-face {
        font-family: $font-family;
        src: url($font-file + ".ttf") format("truetype");
        //   src: url($font-file+'.eot');
        //   src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
        //        url($font-file+'.woff') format('woff'),
        //        url($font-file+'.ttf') format('truetype'),
        //        url($font-file+'.svg#'+$font-family) format('svg');
        //   font-weight: normal;
        //   font-style: normal;
    }
}

$fa-font-path: "../built/fontawesome/webfonts" !default;
@include font("Nunito", "/assets/fonts/Nunito/Nunito-Regular");
@include font("Montserrat", "/assets/fonts/Montserrat/Montserrat-Regular");

:root {
    --font-family-primary: "Nunito", "Raleway", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    --font-family-secondary: "Montserrat", "Abel", serif;
}

:root {
    --text-base: 1.2rem;
    --text-scale-ratio: 1.2;

    @include large-up {
        --text-base: 1.25rem;
    }
}

:root,
* {
    // inspired by https://codyhouse.co/blog/post/responsive-layouts-css-custom-properties-em-units
    --text-xs: calc((var(--text-base) / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

    --line-height-xs: 0.8;
    --line-height-sm: 0.9;
    --line-height-md: 1.2;
    --line-height-lg: 1.4;
    --line-height-xl: 1.6;
    --line-height-xxl: 1.8;
    --line-height-xxxl: 2;

    // keep for future reference
    //     $font-size-xs: 0.75rem;
    //     $font-size-sm: 0.85rem;
    //     $font-size-med: 1rem;
    //     $font-size-med-2: 1.2rem;
    //     $font-size-large: 1.5rem;
    //     $font-size-large-2: 1.875rem;
    //     $font-size-xl: 2.5rem;
    //     $font-size-xxl: 3rem;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-family-secondary);
}

h1,
.text-xxl {
    font-size: var(--text-xxl);
    line-height: var(--line-height-lg);
    font-weight: 700;
}

.text-xl {
    font-size: var(--text-xl);
    line-height: var(--line-height-lg);
}

h2,
.text-lg {
    font-size: var(--text-lg);
    line-height: var(--line-height-lg);
}

h3,
.text-md {
    font-size: var(--text-md);
    line-height: var(--line-height-lg);
    font-weight: bold;
}

h4,
h5,
h6,
.text-sm {
    font-size: var(--text-sm);
    line-height: var(--line-height-md);
}

.text-xs {
    font-size: var(--text-xs);
    line-height: var(--line-height-xl);
}
