<div>
  Checkbox
  <label class="fas c-checkbox">
    <input class="c-checkbox__input" type="checkbox" id="checkbox1" role="checkbox">
    <div class="c-checkbox__checkbox" for="checkbox1"></div>
  </label>
  <label class="fas c-checkbox">
    <input class="c-checkbox__input" type="checkbox" id="checkbox2" role="checkbox" disabled>
    <div class="c-checkbox__checkbox" for="checkbox2"></div>
  </label>
  <label class="fas c-checkbox">
    <input class="c-checkbox__input" type="checkbox" id="checkbox3" checked role="checkbox">
    <div class="c-checkbox__checkbox" for="checkbox3"></div>
  </label>
  <label class="fas c-checkbox">
    <input class="c-checkbox__input" type="checkbox" id="checkbox4" checked disabled role="checkbox">
    <div class="c-checkbox__checkbox" for="checkbox4"></div>
  </label>
</div>
