.c-checkbox {
  &__input {
    display: none;

    &:checked + label {
      i {
        &::before {
          transform: scale(1, 1) rotate(360deg);
        }

        background-color: var(--color-brand-primary);
      }
    }

    &:disabled + label {
      cursor: not-allowed;

      i {
        background-color: var(--color-neutral-gray-50);
      }
    }
  }

  &__label {
    display: inline-flex;
    align-items: center;

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: var(--space-2);
      color: var(--color-neutral-white);
      font-size: var(--text-sm);
      width: 1.4em;
      height: 1.4em;
      background-color: var(--color-body-bg);
      border: var(--border-style) var(--color-brand-primary);
      border-radius: var(--border-radius-sm);
      transition: all ease-in-out var(--anim-fade-long);

      &::before {
        transition: all ease-in-out var(--anim-fade-long);
        transform: scale(0, 0);
        display: inline-block;
      }
    }
  }
}
