.c-radio {
  $this: &;
  display: flex;
  align-items: center;

  &__input {
    display: none;

    &:checked + #{$this}__radio {
      &::after {
        transform: scale(1, 1);
      }
    }

    &:disabled + #{$this}__radio {
      background-color: var(--color-neutral-gray-50);
      cursor: not-allowed;
    }
  }

  &__radio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.35em;
    height: 1.35em;
    background-color: var(--color-body-bg);
    border: var(--border-style) var(--color-brand-primary);
    border-radius: var(--border-radius-full);

    &::after {
      content: "";
      background-color: var(--color-brand-primary);
      font-size: var(--text-sm);
      border-radius: var(--border-radius-full);
      width: 60%;
      height: 60%;
      transition: all ease-in-out 0.4s;
      transform: scale(0, 0);
    }
  }
}

@keyframes radio-select {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}
