[data-theme="dark"] {
    body {
        --border-divider-simple: var(--border-style-light)
            var(--border-divider-color, var(--color-neutral-gray-87));

        --color-links: var(--color-neutral-gray-27);
        --color-body-text: var(--color-neutral-gray-02);
        --color-body-bg: var(--color-neutral-gray-93);
    }

    .kg-bookmark-container,
    .kg-bookmark-container:hover {
        box-shadow: 0 0px 4px 0px var(--color-neutral-gray-13);
    }

    .post-feed__toggle .c-btn {
        --color-button: var(--color-neutral-gray-60);
    }

    .post + aside {
        background-color: var(--color-neutral-gray-73);
    }

    .post-card__image {
        background-color: var(--color-neutral-gray-87);
    }

    .menu__overlay {
        background-color: var(--color-neutral-white);
    }
}
