.c-btn {
    --color-button: var(--color-brand-primary);
    --box-shadow-button-color: var(--color-body-bg);
    --box-shadow-button-spread: 1.3em;
    --box-shadow-button-blur: 0.5em;

    display: inline-block;
    border: var(--border-style-light) var(--color-button);
    color: var(--color-neutral-white);
    background-color: var(--color-button);
    padding: var(--space-1-5) var(--space-3);
    text-align: center;
    transition: all var(--anim-cubic-bezier) var(--anim-fade-long);
    box-shadow: initial;
    border-radius: var(--border-radius-sm);
    font-size: var(--text-sm);

    &:hover,
    &:focus {
        box-shadow: inset 0 0 var(--box-shadow-button-blur) var(--box-shadow-button-spread)
            var(--box-shadow-button-color);

        color: var(--color-button);
    }

    &--small {
        padding: var(--space-0-5) var(--space-2);
        font-size: var(--text-xs);

        &:hover,
        &:focus {
            --box-shadow-button-spread: 1em;
        }
    }

    &--full {
        width: 100%;

        &:hover,
        &:focus {
            --box-shadow-button-blur: 1.25em;
        }
    }

    &--large {
        padding: var(--space-3) var(--space-7);

        &:hover,
        &:focus {
            --box-shadow-button-spread: 1.75em;
            --box-shadow-button-blur: 1em;
        }
    }

    &--bare {
        background-color: var(--color-body-bg);
        color: var(--color-button);

        &:hover,
        &:focus {
            color: var(--color-neutral-white);
            --box-shadow-button-color: var(--color-button);
        }
    }

    &--round {
        border-radius: var(--border-radius-full);
    }
}
