.main-footer {
    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: var(--border-brand-primary);
        padding-top: var(--space-2-5);

        @include medium-down {
            flex-direction: column-reverse;
        }
    }

    &__copyright {
        @include medium-down {
            margin-top: var(--space-6);
        }
    }

    .navigation {
        @include medium-down {
            &__item {
                display: block;
            }
        }
    }
}

#main-footer {
    padding: var(--space-10) 0 var(--space-36);
}
