<section class="design-color post__section">
  <h3>Brand:</h3>
  <div class="design-color__container -primary-color">
    <div class="design-color__bubble">

    </div>
    <div class="design-color__bubble -light">

    </div>

    <div class="design-color__bubble -emphasis">

    </div>
  </div>
  <div class="design-color__container -secondary-color">
    <div class="design-color__bubble">

    </div>
    <div class="design-color__bubble -light">

    </div>

    <div class="design-color__bubble -emphasis">

    </div>
  </div>
  <div class="design-color__container -tertiary-color">
    <div class="design-color__bubble">

    </div>
    <div class="design-color__bubble -light">

    </div>

    <div class="design-color__bubble -emphasis">

    </div>
  </div>
  <h3>Background:</h3>
  <div class="design-color__container">
    <div class="design-color__bubble design-color--background">
    </div>
  </div>
  <h3>Foreground:</h3>
  <div class="design-color__container">

    <div class="design-color__bubble design-color--foreground">

    </div>
  </div>
  <h3>Typeface:</h3>
  <div class="design-color__container">

    <div class="design-color__bubble -font-base">

    </div>
    <div class="design-color__bubble design-color--font-base">

    </div>
    <div class="design-color__bubble design-color--font-base">

    </div>
  </div>
  <div class="design-color__palettes">

  </div>
</section>
