<div>
  Switches
  <label class="c-switch">
    <input class="c-switch__input" type="checkbox" id="switch1" role="switch">
    <span class="c-switch__slider" for="switch1"></span>
    <span>Switch</span>
  </label>
  <label class="c-switch">
    <input class="c-switch__input" type="checkbox" id="switch2" role="switch" disabled="">
    <span class="c-switch__slider" for="switch2"></span>
    <span>Switch</span>
  </label>
  <label class="c-switch">
    <input class="c-switch__input" type="checkbox" id="switch3" checked="" role="switch">
    <span class="c-switch__slider" for="switch3"></span>
    <span>Switch</span>
  </label>
  <label class="c-switch">
    <input class="c-switch__input" type="checkbox" id="switch4" checked="" role="switch" disabled="">
    <span class="c-switch__slider" for="switch4"></span>
    <span>Switch</span>
  </label>
</div>
