$bp-xsm: 32em;
$bp-sm: 48em;
$bp-md: 64em;
$bp-lg: 80em;
$bp-xl: 90em;

$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "(orientation: portrait)" !default;

$xsmall-up: $screen !default;
$xsmall-only: "#{$screen} and (max-width: #{$bp-xsm})" !default;

$small-up: "#{$screen} and (min-width: #{$bp-xsm})" !default;
$small-only: "#{$screen} and (min-width:#{$bp-xsm}) and (max-width: #{$bp-sm})" !default;
$small-down: "#{$screen} and (max-width: calc(#{$bp-sm} - 0.01rem))" !default;

$medium-up: "#{$screen} and (min-width: #{$bp-sm})" !default;
$medium-only: "#{$screen} and (min-width: #{$bp-sm}) and (max-width: #{$bp-md})" !default;
$medium-down: "#{$screen} and (max-width: calc(#{$bp-md} - 0.01rem))" !default;

$large-up: "#{$screen} and (min-width: calc(#{$bp-md}))" !default;
$large-only: "#{$screen} and (min-width: #{$bp-md}) and (max-width: #{$bp-lg})" !default;
$large-down: "#{$screen} and (max-width: calc(#{$bp-lg} - 0.01rem))" !default;

$xlarge-up: "#{$screen} and (min-width: calc(#{$bp-lg}))" !default;
$xlarge-only: "#{$screen} and (min-width: #{$bp-lg}) and (max-width: #{$bp-xl})" !default;
$xlarge-down: "#{$screen} and (max-width: #{$bp-xl})" !default;

/* XSmall */
@mixin xsmall-up {
    @media #{$xsmall-up} {
        @content;
    }
}

@mixin xsmall-only {
    @media #{$xsmall-only} {
        @content;
    }
}

/* Small */
/* -------------------------------- */
@mixin small-up {
    @media #{$small-up} {
        @content;
    }
}

@mixin small-only {
    @media #{$small-only} {
        @content;
    }
}

@mixin small-down {
    @media #{$small-down} {
        @content;
    }
}

/* Medium */
/* -------------------------------- */
@mixin medium-up {
    @media #{$medium-up} {
        @content;
    }
}

@mixin medium-only {
    @media #{$medium-only} {
        @content;
    }
}

@mixin medium-down {
    @media #{$medium-down} {
        @content;
    }
}

/* Large */
/* -------------------------------- */
@mixin large-up {
    @media #{$large-up} {
        @content;
    }
}

@mixin large-only {
    @media #{$large-only} {
        @content;
    }
}

@mixin large-down {
    @media #{$large-down} {
        @content;
    }
}

/* XLarge */
/* -------------------------------- */
@mixin xlarge-only {
    @media #{$xlarge-only} {
        @content;
    }
}

@mixin xlarge-down {
    @media #{$xlarge-down} {
        @content;
    }
}

@mixin xlarge-up {
    @media #{$xlarge-up} {
        @content;
    }
}

/* Portrait */
@mixin tablet-portrait {
    @media #{$medium-only} and #{$portrait} {
        @content;
    }
}
