a {
    color: var(--color-links);
    text-decoration: none;
    outline: 0;
    transition: color var(--anim-fade-quick) var(--anim-ease);

    &:hover,
    &:focus {
        color: var(--color-links-hover);
    }

    &:active {
        color: var(--color-links-active);
    }
}
