ol,
ul {
    list-style: none;
}

.dashed-list-style {
    li::before {
        content: "";
        height: 2px;
        width: 0.75em;
        display: inline-block;
        background-color: var(--color-neutral-gray-50);
        position: relative;
        top: -0.3em;
    }
}
