<div>
  <div direction="column" role="radiogroup">
    <app-radio-button labelText="Option 1" inputId="option-1" name="options"></app-radio-button>
    <app-radio-button labelText="Option 2" inputId="option-2" name="options"></app-radio-button>
    <app-radio-button labelText="Option 3" inputId="option-3" name="options"></app-radio-button>
  </div>
  <div direction="column" role="radiogroup">
    <app-radio-button labelText="Option 4" inputId="option-4" isDisabled="true" name="options-disabled"></app-radio-button>
    <app-radio-button labelText="Option 5" inputId="option-5" isDisabled="true" name="options-disabled"></app-radio-button>
  </div>
  <div direction="row" role="radiogroup">
    <app-radio-button labelText="Option 6" inputId="option-6" name="options-horizontal"></app-radio-button>
    <app-radio-button labelText="Option 6" inputId="option-7" name="options-horizontal"></app-radio-button>
  </div>
</div>
