<div>
  <div direction="column" role="radiogroup">
    <app-radio-button inputId="option-1" name="options">
      Option 1
    </app-radio-button>
    <app-radio-button inputId="option-2" name="options">
      Option 2
    </app-radio-button>
    <app-radio-button inputId="option-3" name="options">
      Option 3
    </app-radio-button>
  </div>
  <div direction="column" role="radiogroup">
    <app-radio-button inputId="option-4" isDisabled="true" name="options-disabled">
      Option 4
    </app-radio-button>
    <app-radio-button inputId="option-5" isDisabled="true" name="options-disabled">
      Option 5
    </app-radio-button>
  </div>
  <div direction="row" role="radiogroup">
    <app-radio-button inputId="option-6" name="options-horizontal">
      Option 6
    </app-radio-button>
    <app-radio-button inputId="option-7" name="options-horizontal">
      Option 7
    </app-radio-button>
  </div>
</div>
