<div>
  <div direction="column" role="radiogroup">
    <label for="option-1" class="c-radio">
      <input type="radio" id="option-1" class="c-radio__input" name="options" role="radio">
      <div class="c-radio__radio"></div>
      <span>Option 1</span>
    </label>
    <label for="option-2" class="c-radio">
      <input type="radio" id="option-2" class="c-radio__input" name="options" role="radio">
      <div class="c-radio__radio"></div>
      <span>Option 2</span>
    </label>
    <label for="option-3" class="c-radio">
      <input type="radio" id="option-3" class="c-radio__input" name="options" role="radio">
      <div class="c-radio__radio"></div>
      <span>Option 3</span>
    </label>
  </div>
  <div direction="column" role="radiogroup">
    <label for="option-4" class="c-radio">
      <input type="radio" id="option-4" class="c-radio__input" name="options-disabled" role="radio" disabled>
      <div class="c-radio__radio"></div>
      <span>Option 4</span>
    </label>

    <label for="option-5" class="c-radio">
      <input type="radio" id="option-5" class="c-radio__input" name="options-disabled" role="radio" disabled>
      <div class="c-radio__radio"></div>
      <span>Option 5</span>
    </label>
  </div>
  <div direction="row" role="radiogroup">
    <label for="option-6" class="c-radio">
      <input type="radio" id="option-6" class="c-radio__input" name="options-horizontal" role="radio">
      <div class="c-radio__radio"></div>
      <span>Option 6</span>
    </label>
    <label for="option-7" class="c-radio">
      <input type="radio" id="option-7" class="c-radio__input" name="options-horizontal" role="radio">
      <div class="c-radio__radio"></div>
      <span>Option 7</span>
    </label>
  </div>
</div>
