@import "../../../styles.scss";
.main {
  max-width: 1360px;
  max-height: 100%;
  margin: 0 auto;
}

.headline {
  @include add-font-size($font-size-h1) {
    font-weight: bold;
    text-align: center;
  }
  color: white;

  padding: 30px 50px 70px 50px;

  @include mobile {
    padding: 20px 30px 50px 30px;
    font-size: 2.175rem;
  }
}
