@import "../../../styles.scss";
:host {
  overflow: hidden;
  position: relative;
  display: block;
}

.main {
  max-width: 1360px;
  max-height: 100%;
  margin: 0 auto;

  height: 100vh;
  width: 100vw;

  @include mobile {
    height: 100%;
    width: 100%;
  }

  display: flex;
  flex-flow: column nowrap;
}

.headline {
  @include add-font-size($font-size-h1) {
    font-weight: bold;
    text-align: center;
  }
  color: white;
  padding: 50px;

  @include mobile {
    padding: 30px;
    font-size: 2.175rem;
  }
}

.swipe {
  &__hint {
    position: relative;
    width: 100%;

    &:before {
      content: "T";
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
    margin-top: auto;
    margin-bottom: 50px;
    text-align: center;
    bottom: 0;
    height: 500px;
  }
}
