<section class="post__section">
  <h2>Form Components</h2>
  <div>
    <div type="email">
      <input type="email" placeholder="hello@andreaskrahl.de">
    </div>
    <button class="c-btn">Subscribe</button>
  </div>
  <div>
    <form>
      <div type="text">
        <label for="name-input">
          Name
        </label>
        <input type="text" id="name-input" placeholder="Name" value="">
      </div>
      <div type="email">
        <input type="email" id="email-input" placeholder="hello@andreaskrahl.de" value="" aria-label="Email"
          autocomplete="off">
      </div>
      <div type="password">
        <input type="password" id="password-input" placeholder="Password" aria-label="Password" value="">
        <button aria-label="Reveal Password" data-testid="reveal-password-button">Reveal Password</button>
      </div>
      <div>
        <label for="example-text-1">
          Example Text
        </label>
        <textarea id="example-text-1" placeholder="Type some text here" rows="10" aria-label="Example Text"></textarea>
      </div>
    </form>
    <form>
      <div type="text">
        <label for="name-input-disabled">
          Name
        </label>
        <input type="text" id="name-input-disabled" disabled="" placeholder="Name" value="Andreas Krahl">
      </div>

      <div type="email">
        <input type="email" id="email-input-disabled" disabled="" placeholder="hello@andreaskrahl.de"
          value="hello@andreaskrahl.de" aria-label="Email">
      </div>
      <div type="password"><input type="password" id="password-input-disabled" disabled="" value="supersecretpassword">
        <button aria-label="Reveal Password" class="" data-testid="reveal-password-button" disabled="">
          Reveal Password
        </button>
      </div>

      <div>
        <label for="example-text-2">
          Example Text
        </label>
        <textarea id="example-text-2" disabled="" rows="20" placeholder="Type some text here">
        Here's to the crazy ones.
        The misfits.
        The rebels.
        The troublemakers.
        The round pegs in the square holes.

        The ones who see things differently.

        They're not fond of rules.
        And they have no respect for the status quo.

        You can quote them, disagree with them,
        glorify or vilify them.
        About the only thing you can't do is ignore them.

        Because they change things.

        They push the human race forward.

        While some may see them as the crazy ones,
        we see genius.

        Because the people who are crazy enough to think
        they can change the world, are the ones who do.
      </textarea>
      </div>
    </form>
  </div>





  <div>
    Checkbox
    <label class="fas c-checkbox">
      <input class="c-checkbox__input" type="checkbox" id="checkbox1" role="checkbox">
      <div class="c-checkbox__checkbox" for="checkbox1"></div>
    </label>
    <label class="fas c-checkbox">
      <input class="c-checkbox__input" type="checkbox" id="checkbox2" role="checkbox" disabled>
      <div class="c-checkbox__checkbox" for="checkbox2"></div>
    </label>
    <label class="fas c-checkbox">
      <input class="c-checkbox__input" type="checkbox" id="checkbox3" checked role="checkbox">
      <div class="c-checkbox__checkbox" for="checkbox3"></div>
    </label>
    <label class="fas c-checkbox">
      <input class="c-checkbox__input" type="checkbox" id="checkbox4" checked disabled role="checkbox">
      <div class="c-checkbox__checkbox" for="checkbox4"></div>
    </label>
  </div>




  <div>
    Switches
    <label class="c-switch">
      <input class="c-switch__input" type="checkbox" id="switch1" role="switch">
      <span class="c-switch__slider" for="switch1"></span>
      <span>Switch</span>
    </label>
    <label class="c-switch">
      <input class="c-switch__input" type="checkbox" id="switch2" role="switch" disabled="">
      <span class="c-switch__slider" for="switch2"></span>
      <span>Switch</span>
    </label>
    <label class="c-switch">
      <input class="c-switch__input" type="checkbox" id="switch3" checked="" role="switch">
      <span class="c-switch__slider" for="switch3"></span>
      <span>Switch</span>
    </label>
    <label class="c-switch">
      <input class="c-switch__input" type="checkbox" id="switch4" checked="" role="switch" disabled="">
      <span class="c-switch__slider" for="switch4"></span>
      <span>Switch</span>
    </label>
  </div>




  <div>
    <div direction="column" role="radiogroup">
      <label for="option-1" class="c-radio">
        <input type="radio" id="option-1" class="c-radio__input" name="options" role="radio">
        <div class="c-radio__radio"></div>
        <span>Option 1</span>
      </label>
      <label for="option-2" class="c-radio">
        <input type="radio" id="option-2" class="c-radio__input" name="options" role="radio">
        <div class="c-radio__radio"></div>
        <span>Option 2</span>
      </label>
      <label for="option-3" class="c-radio">
        <input type="radio" id="option-3" class="c-radio__input" name="options" role="radio">
        <div class="c-radio__radio"></div>
        <span>Option 3</span>
      </label>
    </div>
    <div direction="column" role="radiogroup">
      <label for="option-4" class="c-radio">
        <input type="radio" id="option-4" class="c-radio__input" name="options-disabled" role="radio" disabled>
        <div class="c-radio__radio"></div>
        <span>Option 4</span>
      </label>

      <label for="option-5" class="c-radio">
        <input type="radio" id="option-5" class="c-radio__input" name="options-disabled" role="radio" disabled>
        <div class="c-radio__radio"></div>
        <span>Option 5</span>
      </label>
    </div>
    <div direction="row" role="radiogroup">
      <label for="option-6" class="c-radio">
        <input type="radio" id="option-6" class="c-radio__input" name="options-horizontal" role="radio">
        <div class="c-radio__radio"></div>
        <span>Option 6</span>
      </label>
      <label for="option-7" class="c-radio">
        <input type="radio" id="option-7" class="c-radio__input" name="options-horizontal" role="radio">
        <div class="c-radio__radio"></div>
        <span>Option 7</span>
      </label>
    </div>
  </div><br>
  <div>
    <div>
      <label for="range-1">Range</label>
      <input type="range" id="range-1" min="0" max="500" value="250">
    </div>
    <div>
      <label for="range-2">Range</label>
      <input type="range" id="range-2" min="0" max="500" value="250" disabled="">
    </div>
  </div>
</section>
