.bull {
    bottom: 1px;
    color: var(--color-brand-primary-light);
    position: relative;
}

/* ### STICKY HEADER ### */
#main-navigation {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--color-body-bg);
    top: 0;
}

#main-content,
#main-footer {
    position: relative;
    top: var(--navigation-height);
}
