.c-switch {
  --c-switch-color: var(--color-neutral-gray-87);
  --c-switch-color-checked: var(--color-neutral-gray-27);
  --c-switch-color-disabled: var(--color-brand-primary-emphasis);
  --c-switch-border-color: var(--color-brand-primary);

  &::before,
  &::after {
    position: absolute;
    font-size: 0.875em;
    z-index: 1;
    top: 0.2125em;
    color: var(--c-switch-color);
  }

  &::before {
    content: "\f186";
    left: 0.21em;

    :host-context([data-theme='light']) & {
      display: none;
    }
  }

  &::after {
    content: "\f185";
    right: 0.26em;

    :host-context([data-theme='dark']) & {
      display: none;
    }
  }
}
