app-dark-theme-toggle .c-switch {
  --c-switch-color: var(--color-neutral-white);
  --c-switch-color-text: var(--color-body-bg);
  --c-switch-color-checked: var(--color-neutral-gray-27);
  --c-switch-color-unchecked: var(--color-neutral-gray-87);
  --c-switch-color-disabled: var(--color-brand-primary-emphasis);
  --c-switch-color-border: transparent;

  i.far::before {
    position: absolute;
    font-size: 0.875em;
    z-index: 1;
    top: 0.3em;
    color: var(--c-switch-color-text);
  }

  i.fa-moon::before {
    left: 0.21em;

    [data-theme="light"] & {
      display: none;
    }
  }

  i.fa-sun::before {
    right: 0.6em;

    [data-theme="dark"] & {
      display: none;
    }
  }
}
