<div class="andkra.burger-menu">
  <div class="side-nav__toggle" (click)="toggleSideNav($event)">
    <span class="menu-toggle__line"></span>
    <span class="menu-toggle__line"></span>
    <span class="menu-toggle__line"></span>
  </div>
  <div class="side-nav" #sideNav>
    <ul *ngIf="childRoutes.length > 0" class="">
      <li class="andkra-link" [routerLink]="['/design']" (click)="toggleSideNav($event); isAll = true">All</li>
      <li *ngFor="let route of childRoutes" (click)="toggleSideNav($event); isAll = false">
        <a [routerLink]="route.path" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
          true}">{{route.path.charAt(0).toUpperCase() + route.path.slice(1)}}</a>
      </li>
    </ul>
  </div>
</div>
<div class="l-grid">
  <ng-container *ngIf="isAll;else routerOutlet">
    <h2>Colors</h2>
    <app-design-colors class="mt-6"></app-design-colors>

    <h2>Typography</h2>
    <app-design-typography class="mt-6"></app-design-typography>

    <h2>Lists</h2>
    <app-design-lists></app-design-lists>

    <h2>Buttons</h2>
    <app-design-buttons></app-design-buttons>

    <h2>Forms</h2>
    <app-design-forms></app-design-forms>
  </ng-container>
  <ng-template #routerOutlet>
    <router-outlet></router-outlet>
  </ng-template>
</div>
