<form>
  <div type="text">
    <label for="name-input-disabled">
      Name
    </label>
    <input type="text" id="name-input-disabled" disabled="" placeholder="Name" value="Andreas Krahl">
  </div>
  <div>
    <label for="example-text-2">
      Example Text
    </label>
    <textarea id="example-text-2" disabled="" rows="20" placeholder="Type some text here">
    Here's to the crazy ones.
    The misfits.
    The rebels.
    The troublemakers.
    The round pegs in the square holes.

    The ones who see things differently.

    They're not fond of rules.
    And they have no respect for the status quo.

    You can quote them, disagree with them,
    glorify or vilify them.
    About the only thing you can't do is ignore them.

    Because they change things.

    They push the human race forward.

    While some may see them as the crazy ones,
    we see genius.

    Because the people who are crazy enough to think
    they can change the world, are the ones who do.
  </textarea>
  </div>
</form>
